--studyIDX
<studyIDX>
--FILELIST_DIR
/usr/projects/eada/users/smyther/yoke_Smy_RL/applications/filelists/
--LSC_DESIGN_DIR
/lustre/scratch5/exempt/artimis/mpmm/
--LSC_NPZ_DIR
/lustre/scratch5/exempt/artimis/mpmm/lsc240420/
--design_file
design_lsc240420_MASTER.csv
--train_filelist
lsc240420_idx00100_train_80pct.txt
--validation_filelist
lsc240420_idx00100_val_10pct.txt
--test_filelist
lsc240420_idx00100_test_10pct.txt
--featureList
<F0>
<F1>
<F2>
<F3>
<F4>
--linearFeatures
<LINEAR_F>
--init_learnrate
<LEARN_RATE>
--trn_rcrd_filename
./training_study<studyIDX>_epoch<epochIDX>.csv
--val_rcrd_filename
./validation_study<studyIDX>_epoch<epochIDX>.csv
--batch_size
<BATCH_SIZE>
--total_epochs
100
--cycle_epochs
2
--train_batches
<NTRN_BATCH>
--val_batches
<NVAL_BATCH>
--TRAIN_PER_VAL
10
--continuation
--checkpoint
<CHECKPOINT>
