--studyIDX
<studyIDX>
--design_file
design_lsc240420_MASTER.csv
--train_filelist
lsc240420_train_80pct.txt
--validation_filelist
lsc240420_val_10pct.txt
--test_filelist
lsc240420_test_10pct.txt
--kernel
<KERNEL_H>
<KERNEL_W>
--featureList
<F0>
<F1>
<F2>
<F3>
<F4>
<F5>
<F6>
<F7>
--linearFeatures
<LINEAR_H>
<LINEAR_W>
--init_learnrate
<LEARN_RATE>
--trn_rcrd_filename
./training_study<studyIDX>_epoch<epochIDX>.csv
--val_rcrd_filename
./validation_study<studyIDX>_epoch<epochIDX>.csv
--batch_size
16
--total_epochs
5
--cycle_epochs
2
--train_batches
10
--val_batches
5
--TRAIN_PER_VAL
2
--continuation
--checkpoint
<CHECKPOINT>