--studyIDX
<studyIDX>
--input_field
<INPUT_FIELD>
--design_file
design_nc231213_Sn_MASTER.csv
--train_filelist
nc231213_train_80pct.txt
--validation_filelist
nc231213_val_10pct.txt
--test_filelist
nc231213_test_10pct.txt
--size_threshold_W
<THRESHOLD_W>
--size_threshold_H
<THRESHOLD_H>
--kernel
<KERNEL>
--features
<FEATURES>
--hidden_features
<HIDDEN_FEATURES>
--interp_depth
<INTERP_DEPTH>
--conv_onlyweights
<CONV_WEIGHTS>
--batchnorm_onlybias
<NORM_BIAS>
--act_layer
<ACT_LAYER>
--init_learnrate
<LEARN_RATE>
--trn_rcrd_filename
./training_study<studyIDX>_epoch<epochIDX>.csv
--val_rcrd_filename
./validation_study<studyIDX>_epoch<epochIDX>.csv
--batch_size
8
--total_epochs
10
--cycle_epochs
5
--train_batches
10
--val_batches
2
--TRAIN_PER_VAL
4
--continuation
--checkpoint
<CHECKPOINT>