#!/bin/bash

# This is a setup for GPU training on Venado. Find out how much
# memory per node, number of CPUs/node.

# NOTE: Number of CPUs per GPU must be an even number since there are
# 2 threads per core. If an odd number is requested the next higher
# even number gets used.

# The following are one set of SBATCH options for the Venado GPU
# partition. There are optional other constraints.

#SBATCH --job-name=loderunner_vefe_study<studyIDX>
#SBATCH --account=w25_artimis_gh
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=288
#SBATCH --partition=gpu
#SBATCH --time=16:00:00
#SBATCH --output=study<studyIDX>_epoch<epochIDX>.out
#SBATCH --error=study<studyIDX>_epoch<epochIDX>.err
#SBATCH -vvv


# Check available GPUs
sinfo  -o "%P %.24G %N"
srun /usr/bin/echo $CUDA_AVAILABLE_DEVICES

# Load correct conda environment
module load python/3.10-anaconda-2023.03
source activate
conda activate <YOKE_TORCH_ENV>

# Currently need to set an environment variable for MKL
# threading. Believed to be related to Numpy.
#export MKL_SERVICE_FORCE_INTEL=TRUE

# Get start time
export date00=`date`

# # Start GPU monitoring
# nvidia-smi --loop 5 --query-gpu=timestamp,gpu_bus_id,memory.used,memory.free,memory.total --format=csv > nvidia_smi_epoch<epochIDX>.out &
# nvpid=$!

# Assumes running from inside harnesses directory
# Start the Code
python <train_script> @<INPUTFILE>
#pypid=$!

# Kill GPU monitoring after python process finishes
#wait $pypid
#kill $nvpid

# Get end time and print to stdout
export date01=`date`

echo "===================TIME STARTED==================="
echo $date00
echo "===================TIME FINISHED==================="
echo $date01
