--studyIDX
<studyIDX>
--FILELIST_DIR
/usr/projects/artimis/mpmm/hickmank/chicoma/ch_yoke/applications/filelists/
--LSC_NPZ_DIR
/lustre/scratch4/exempt/artimis/lsc240420/
--train_filelist
lsc240420_prefixes_train_80pct.txt
--validation_filelist
lsc240420_prefixes_validation_10pct.txt
--test_filelist
lsc240420_prefixes_test_10pct.txt
--init_learnrate
<LEARN_RATE>
--LRepoch_per_step
<LR_EPOCH_PER_STEP>
--LRdecay
<LR_DECAY_RATE>
--scheduled_prob
<SCHEDULED_PROB>
--decay_rate 
<DECAY_RATE>
--minimum_schedule_prob
<MINIMUM_SCHEDULE_PROB>
--trn_rcrd_filename
./training_study<studyIDX>_epoch<epochIDX>.csv
--val_rcrd_filename
./validation_study<studyIDX>_epoch<epochIDX>.csv
--batch_size
<BATCH_SIZE>
--num_workers
<NUM_WORKERS>
--prefetch_factor
<PREFETCH_FACTOR>
--total_epochs
100
--cycle_epochs
10
--train_batches
<NTRN_BATCH>
--val_batches
<NVAL_BATCH>
--TRAIN_PER_VAL
5
--multigpu